.content {
    left: 50%;
    top: 100px;
    transform: translateX(-50%);
    position: absolute;
    display: flex;
    flex-direction: column;
    height: calc(100% - 100px);    
    width: 100%;
    overflow: hidden;
}

// .container{
//     position: relative; /* Create a new positioning context for the child */
//     width: 100%; /* Ensure the child container fills the parent */
//     height: 100%; /* Ensure the child container fills the parent */
// }